/* font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.landing {
    background-image: url(assets/portfoliobackground.jpg);
    background-repeat: no-repeat;    
    background-size: cover;   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    background-color: #2A382E;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0rem 0rem 5rem 0rem;
}

.name {
    font-size: 2rem;
    font-weight: bold;
    padding: 0rem 0rem 0rem 5rem; 
    
}

.motto_section {
    color: white;    
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 3rem;
    background-color: #2a382ea4;  
    padding: 2rem 0rem 2rem 5rem;
    margin-right: 40%;
}

.case_studies {
    min-height: 100vh;
    background-color: #F5F4F6;
}

.case_studies_title {
    color: white;    
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    background-color: #2A382E;
    padding: 1rem 0rem 1rem 5rem;
}

.study_left {
    display: flex;
    flex-direction: row;
    padding: 3rem 0rem 1rem 5rem;
}

.study_header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.study_left img {
    height: 25rem;
}

.study_left_words {
    padding-left: 2rem;
    width: 50%;
    font-family: 'Lato', sans-serif
}

.study_right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 3rem 5rem 1rem 0rem;
}

.study_right img {
    height: 25rem;    
}

.study_right_words {
    padding-right: 2rem;
    width: 50%;
    text-align: right;
    font-family: 'Lato', sans-serif;
}

.projects {
    min-height: 100vh;
    background-color: #5c7a65;
}

.projects_header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    color: #F5F4F6;
    padding: 1rem 0rem 1rem 5rem;
    background-color: #2A382E;
}

.projects_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 5rem 1rem 5rem;
}

.card-body {
    background-color: #F5F4F6;
}
.card-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold; 
}

.card-text {
    font-family: 'Lato', sans-serif;
    
}

.about_me {
    min-height: 100vh;
    background-color: #F5F4F6;
    display: flex;
    flex-direction: column;
}

.about_me_header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2rem;
    color: #F5F4F6;
    background-color: #2A382E;
    padding: 1rem 0rem 1rem 5rem;
}

.about_me_info {
    display: flex;
    flex-direction: row;
}

.about_me_image img {
    width: 120%;
    padding: 1rem 5rem 1rem 5rem;
}

.about_me_opener {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 3rem 5rem 1rem 5rem;
}

.about_me_bio {
    padding: 1rem 5rem 1rem 5rem;
    font-family: 'Lato', sans-serif
}

.footer i{
    color: #F5F4F6;

}

.footer-distributed{
	background: #2A382E;
    color: #F5F4F6;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #F5F4F6;
	font-family: 'Playfair Display', serif;
    font-size: 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
    font-family: 'Lato', sans-serif;
}

.footer-distributed .footer-company-name{
	color:  #F5F4F6;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #5c7a65;
	color: #F5F4F6;
	font-size: 25px;
    font-family: 'Lato', sans-serif;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
    color: #F5F4F6;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #F5F4F6;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #F5F4F6;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #F5F4F6;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
    font-family: 'Lato', sans-serif;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #F5F4F6;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.footer-distributed .footer-icons{
	margin-top: 25px;    
}

.fa {
    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #5c7a65;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}